.broto{
    margin-left: 40px;
    line-height: 22px;
}
.std{

    text-decoration: none;
}
.brocamp-img{
    width: 145px;
    margin-left: 9px;
}
.bro{
    margin-left: 20px;
    margin: left 0px;
    width: 200px;
    margin-right: 60px;
    margin-top: 10px;
}


.brocamp-imgg{
    width: 403px;
    margin-left: 35px;
    height: 254px;
    margin-top: 10px;
}
.row{
    margin-top: 20px;
}
.mern{
    margin-left: 35px;
}
.cntr{
    display: flex;
    justify-content: center;
}
